
@{
    ViewBag.Title = "Home Page";
}

<div class="card-deck" style="padding-top: 30vh">

    <div class="card bg-warning boxshadow btn-hover">
        <a href="@Url.Action("UnknownUserShowCars", "Cars")" style="text-decoration: none">
        <div class="card-body text-center text-dark">
            <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="d-flex">
                    <i class="fas fa-car m-auto" style="font-size: 10vw"></i>
                </div>
                <h3>Veículos Disponíveis</h3>
                <p class="lead mb-0">Quero ver os veículos disponíveis para alugar na plataforma</p>
            </div>
        </div>
        </a>
    </div>
   
    <div class="card bg-warning boxshadow btn-hover">
        <a href="@Url.Action("RegisterUser", "Account")" style="text-decoration: none">
            <div class="card-body text-center text-dark">
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex">
                        <i class="fas fa-id-card m-auto" style="font-size: 10vw"></i>
                    </div>
                    <h3>Alugar um Veículo</h3>
                    <p class="lead mb-0">Quero alugar um dos veículos disponíveis na plataforma</p>
                </div>
            </div>
        </a>
    </div>
    
    <div class="card bg-warning boxshadow btn-hover">
        <a href="@Url.Action("RegisterInitCompanyAdmin", "Account")" style="text-decoration: none">
        <div class="card-body text-center text-dark">
            <div class="mx-auto mb-0 mb-lg-3">
                <div class="d-flex">
                    <i class="fas fa-parking m-auto" style="font-size: 10vw"></i>
                </div>
                <h3>Disponibilizar Veículos</h3>
                <p class="lead mb-0">Quero disponibilizar os meus veículos para alugar</p>
            </div>
        </div>
        </a>
    </div>



</div>


