@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin


@if (Request.IsAuthenticated)
{
    string user = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(User.Identity.GetUserId()).Name ?? String.Format("Utilizador");

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ml-auto" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav ml-auto">
            <li class="user-logo">
                <a class="nav-link" href=@Url.Action("Index", "Manage")><span><i class="fa fa-user"></i> @user</span></a>
            </li>
            <li class="exit-btn">
                <a class="nav-link" href="javascript:document.getElementById('logoutForm').submit()"><span><i class="fa fa-power-off"></i> Sair</span></a>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"></li>
        <li class="nav-item">@Html.ActionLink("Entrar", "Login", "Account", null, new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}