@using System.Web.Configuration
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin



@{
    string user = null;
    if (User.Identity.IsAuthenticated)
    {
        user = HttpContext.Current.GetOwinContext()?.GetUserManager<ApplicationUserManager>()?.FindById(User.Identity.GetUserId())?.Name;
    }
}


@if (Request.IsAuthenticated && user != null)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "ml-auto" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav ml-auto">
            <li>
                <a href=@Url.Action("Index", "Manage")><p class="fa fa-user" style="margin-top: 13px; margin-right: 10px; color: green"> <span style="font-family: Roboto">@user</span></p></a>
            </li>
            <li class="nav-item"><a class="nav-link nav-link-exit" href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-power-off"></i> Sair</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item"></li>
        <li class="nav-item">@Html.ActionLink("Entrar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "nav-link" })</li>
    </ul>
}