@using CarRenting.Models

@if (Request.IsAuthenticated)
{
    DashViewModel dashViewModel = (DashViewModel)Session["UserInfo"] ?? null;
    <div class="full-width log-headers boxshadow">
        @if (dashViewModel != null)
        {
            <h4 style="text-align: center">

                @dashViewModel.UserName,
                @dashViewModel.Role
                @if (dashViewModel.CompanyName != null)
                {
                    @dashViewModel.CompanyName
                }

            </h4>
        }
    </div>
}

