@using System.Web.Configuration
@using CarRenting.Models
@using Microsoft.AspNet.Identity
@using Microsoft.AspNet.Identity.Owin

@if (Request.IsAuthenticated)
{
    var userId = User.Identity.GetUserId();
    var userName = HttpContext.Current.GetOwinContext().GetUserManager<ApplicationUserManager>().FindById(userId).Name ?? String.Format("Utilizador");
    string companyName;
    using (var _dbContext = new ApplicationDbContext())
    {
        companyName = _dbContext.Companies.SingleOrDefault(c => c.Employees.Any(e => e.ApplicationUserId == userId))?.CompanyName ?? string.Empty;
    }

    <div class="full-width log-headers boxshadow" style="margin-top: 20px">
        <h4>
            @userName -
            @if (User.IsInRole(WebConfigurationManager.AppSettings["Cr"]))
            {
                @WebConfigurationManager.AppSettings["Cr"]
            }
            else if (User.IsInRole(WebConfigurationManager.AppSettings["Cn"]))
            {
                @WebConfigurationManager.AppSettings["Cn"]
            }
            else if (User.IsInRole(WebConfigurationManager.AppSettings["Ur"]))
            {
                @WebConfigurationManager.AppSettings["Ur"]
            }
            else if (User.IsInRole(WebConfigurationManager.AppSettings["An"]))
            {
                @WebConfigurationManager.AppSettings["An"]
            }
            @companyName

        </h4>
    </div>
}

