@using CarRenting.Models

@if (Request.IsAuthenticated)
{
    DashViewModel dashViewModel = (DashViewModel)Session["UserInfo"];
    <div class="full-width log-headers boxshadow">
        <h4 style="text-align: center">
            @dashViewModel.UserName, @dashViewModel.Role
            @if (dashViewModel.CompanyName != null)
            {
                @dashViewModel.CompanyName
            }
        </h4>
    </div>
}

