@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
<div class="text-center jumbotron shadow" style="margin-top: 5vh">
    <h3 class="text-danger">Erro</h3>
    @if (Model != null)
    {
        <h4>@Model.Exception.Message</h4>
    }
    <h4 class="text-danger">Não foi possível aceder ao recurso pretendido</h4>
    @Html.ActionLink("Voltar", "Index", "Home", null, new{@class="btn btn-primary"})
</div>
