
@{
    ViewBag.Title = "Company User Area";
}

@if (TempData["isDelivered"] as bool? == true)
{
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.success('O veículo foi dado como entregue');
        });

    </script>
}

@if (TempData["isReceived"] as bool? == true)
{
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.success('O veículo foi dado como recebido');
        });

    </script>
}

<div class="card-deck" style="padding-top: 20vh">

    <div class="card bg-warning boxshadow btn-hover">
        <a href="@Url.Action("Index", "Rents")" style="text-decoration: none" click="displayToastr()">
            <div class="card-body text-center text-dark">
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex">
                        <i class="fas fa-key m-auto" style="font-size: 6vw"></i>
                    </div>
                    <h3>Gerir Reservas</h3>
                    <p class="lead mb-0">Gestão de reservas efetuadas na plataforma por utilizadores particulares</p>
                </div>
            </div>
        </a>
    </div>

    <div class="card bg-warning boxshadow btn-hover">
        <a href="@Url.Action("ListForDelivery", "Rents")" style="text-decoration: none">
            <div class="card-body text-center text-dark">
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex">
                        <i class="fas fa-check-double m-auto" style="font-size: 6vw"></i>
                    </div>
                    <h3>Entregar ou Receber Veículo</h3>
                    <p class="lead mb-0">Entregar ou receber veículo reservado</p>
                </div>
            </div>
        </a>
    </div>

    <div class="card bg-warning boxshadow btn-hover">
        <a href="@Url.Action("ListForDelivery", "Rents")" style="text-decoration: none">
            <div class="card-body text-center text-dark">
                <div class="mx-auto mb-0 mb-lg-3">
                    <div class="d-flex">
                        <i class="fas fa-check-double m-auto" style="font-size: 6vw"></i>
                    </div>
                    <h3>Receber veículo</h3>
                    <p class="lead mb-0">Receber veículo devolvido pelo cliente</p>
                </div>
            </div>
        </a>
    </div>
</div>