@{
	ViewBag.Title = "Recuperação de password";
}

<div class="container text-center">
	<div class="log-headers-h2 offset-2 col-8 text-center boxshadow">
		<h2>@ViewBag.Title</h2>
	</div>
	<div class="jumbotron col-8 offset-2 boxshadow">
		<p>
			Verifique o seu e-mail para recuperar a sua password!
		</p>
		@Html.ActionLink("Ok", "Index", "Home", null, new{ @class="btn btn-primary" })
	</div>
</div>
	
