@{
    ViewBag.Title = "Redefinição de Password";
}

<div class="container text-center">
    <div class="log-headers-h2 boxshadow">
        <h2>@ViewBag.Title.</h2>
    </div>
    <div class="boxshadow jumbotron">
        <p>
            A password foi redefinida com sucesso
        </p>
        <p>
            @Html.ActionLink("Clique aqui para entrar", "Login", "Account", routeValues: null, htmlAttributes: new {id = "loginLink"})
        </p>
    </div>
</div>