@model CarRenting.Models.IndexViewModel
@{
    ViewBag.Title = "Alteração de password";
}

<div class="container">
    <div class="log-headers-h2 boxshadow">
        <h2>@ViewBag.Title</h2>
    </div>

    
    <div class="jumbotron boxshadow">
        <h2 class="text-success">@ViewBag.StatusMessage</h2>
        <div class="text-center">

            @Html.ActionLink("Ok", "Index", "Home", null,new {@class = " btn btn-primary"})
        </div>
    </div>


</div>