

@if (TempData["successRegister"] as bool? == true)
{
    <script type="text/javascript">
        $(document).ready(function () {
            toastr.success('Bem vindo à eRenting', 'Registo efectuado');
        });
    </script>
}


<div class="card-deck" style="padding-top: 25vh">

    <div class="card bg-warning boxshadow btn-hover">
        <a href="@Url.Action("Index", "Cars")" style="text-decoration: none">
            <div class="card-body text-center text-dark">
                <div class="mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="d-flex">
                        <i class="fas fa-car m-auto" style="font-size: 6em"></i>
                    </div>
                    <h3>Alugar Veículo</h3>
                    <p class="lead mb-0">Alugar um dos veículos disponíveis na plataforma</p>
                </div>
            </div>
        </a>
    </div>

    <div class="card bg-warning boxshadow btn-hover">
        <a href="@Url.Action("UserRents", "Rents")" style="text-decoration: none">
            <div class="card-body text-center text-dark">
                <div class="mx-auto mb-0 mb-lg-3">
                    <div class="d-flex">
                        <i class="fas fa-funnel-dollar fa-sm m-auto" style="font-size: 6em"></i>
                    </div>
                    <h3>As Minhas Reservas</h3>
                    <p class="lead mb-0">Ver todos os meus alugueres de veículos</p>
                </div>
            </div>
        </a>
    </div>
</div>